[user]
        email = vetwith@gmail.com
        name = smilekomiya
[ghq]
        root = /Users/komiya/go/src
[alias]
    st = status
    co = checkout
    cp = cherry-pick 
    cm = commit
    ps = push -u origin HEAD
