[user]
        email = vetwith@gmail.com
        name = smilekomiya
[ghq]
        root = /Users/y_komiya/go/src
[alias]
    st = status
    co = checkout
    cp = cherry-pick 
    cm = commit
    ps = push -u origin HEAD
    graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
